/* MOBILE LAYOUT */

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #EFEFEF;
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
    "nav"
    "main";
}

.nav-bar {
  grid-area: nav;
  background: #053353;
  color: #EFEFEF;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: .9em;
}

.local {
  color: #E07A5F;
}

.user-drop-down {
  font-size: .65em;
  font-weight: 200;
  text-align: right;
}

.title {
  font-size: 1.6em;
  text-align: right;
  margin-right: 5%;
  letter-spacing: .1em;
}

.main {
  grid-area: main;
}

.page-heading {
  letter-spacing: .05em;
  margin-left: 3%;
}

.mushroom-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card {
  background: #CFDAE1;
  box-shadow: 0 0 6px 6px #C1C1C1;
  width: 90%;
  height: 450px;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 65%;
  grid-template-areas:
    "image"
    "content";
}

.card-top {
  grid-area: image;
  /* background-image: url("./assets/blewit.jpeg"); */
  position: relative;
}

.mushroom-pic {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.plus-icon {
  
}

.found-label {
  background-color: #E56635;
  width: 22%;
  height: 50%; 
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.found {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  color: #EFEFEF
  
}

.number-sightings {
  font-size: 1em;
  margin: 0;
  color: #EFEFEF;
}

.card-body {
  grid-area: content;
}








