/* MOBILE LAYOUT */
@media all and (max-width: 750px) {

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #EFEFEF;
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
    "nav"
    "main";
}

.nav-bar {
  grid-area: nav;
  background: #053353;
  color: #EFEFEF;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: .9em;
}

.local {
  color: #E07A5F;
}

.user-drop-down {
  font-size: .65em;
  font-weight: 200;
  text-align: right;
}

.title {
  font-size: 1.6em;
  text-align: right;
  margin-right: 5%;
  letter-spacing: .1em;
}

.main {
  grid-area: main;
  height: 100%;
  width: 100%;
}

.page-heading {
  letter-spacing: .05em;
  margin-left: 3%;
  color: #585959;
}

.mushroom-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.card {
  background: #CFDAE1;
  box-shadow: 0 0 6px 6px #C1C1C1;
  width: 90%;
  height: 100%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 65%;
  grid-template-areas:
    "image"
    "content";
}

.card-top {
  grid-area: image;
  position: relative;
}

.card-body {
  height: 100%;
  width: 100%;
}

.mushroom-pic {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.found-label {
  background-color: #E56635;
  color: #EFEFEF;
  width: 22%;
  height: 50%; 
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.plus-icon {
  font-size: 4em;
  font-weight: 500;
  color: #EFEFEF;
  position: absolute;
  top: -30%;
  left: 1%;
}

.found {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
}

.number-sightings {
  margin: 0;
  font-size: 1em;
}

.card-body {
  grid-area: content;
  margin-left: 5%;
  color: #585959;
}

.mushroom-name {
  margin: 5% 0 0 0;
  font-size: 1.6em;
}

.scientific-name {
  margin: 0 0 0 0;
  font-style: italic;
  font-size: 1.2em;
}

.chars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.characteristics {
  background-color: #EFEFEF;
  width: 84%;
  height: 16%; 
  padding: 3%; 
  font-size: 1em;
  /* margin: 0 auto; */
}

.season-header {
  margin: 5% 0 0 0;
}

.seasons {
  margin: 1% 0 0 0;
  font-size: 1.6em;
}

.rare-header {
  margin: 5% 0 0 0;
}

.rarity {
  margin: 2% 0 0 0;
  font-size: 2em;
  color: #E56635;
  font-weight: 500;
}

}

/* MID-SIZE LAYOUT */
@media all and (min-width: 750px) {

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #EFEFEF;
  font-family: 'Libre Franklin', sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
    "nav"
    "main";
}

.nav-bar {
  grid-area: nav;
  background: #053353;
  color: #EFEFEF;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: .9em;
}

.local {
  color: #E07A5F;
}

.user-drop-down {
  font-size: .65em;
  font-weight: 200;
  text-align: right;
}

.title {
  font-size: 1.6em;
  text-align: right;
  margin-right: 5%;
  letter-spacing: .1em;
}

.main {
  grid-area: main;
  height: 100%;
  width: 100%;
}

.page-heading {
  letter-spacing: .05em;
  margin-left: 3%;
  color: #585959;
}

.mushroom-cards {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 5%;
  column-gap: 0;
  padding: 3% 3% 5% 3%;
  height: 100%;
  width: 100%;
}

.card {
  background: #CFDAE1;
  box-shadow: 0 0 6px 6px #C1C1C1;
  width: 90%;
  height: 100%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 65%;
  grid-template-areas:
    "image"
    "content";
}

.card-top {
  grid-area: image;
  position: relative;
}

.card-body {
  height: 100%;
  width: 100%;
}

.mushroom-pic {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.found-label {
  background-color: #E56635;
  color: #EFEFEF;
  width: 22%;
  height: 50%; 
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.plus-icon {
  font-size: 4em;
  font-weight: 500;
  color: #EFEFEF;
  position: absolute;
  top: -30%;
  left: 1%;
}

.found {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
}

.number-sightings {
  margin: 0;
  font-size: 1em;
}

.card-body {
  grid-area: content;
  margin-left: 5%;
  color: #585959;
}

.mushroom-name {
  margin: 5% 0 0 0;
  font-size: 1.6em;
}

.scientific-name {
  margin: 0 0 0 0;
  font-style: italic;
  font-size: 1.2em;
}

.chars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.characteristics {
  background-color: #EFEFEF;
  width: 84%;
  height: 16%; 
  padding: 3%; 
  font-size: 1em;
  /* margin: 0 auto; */
}

.season-header {
  margin: 5% 0 0 0;
}

.seasons {
  margin: 1% 0 0 0;
  font-size: 1.6em;
}

.rare-header {
  margin: 5% 0 0 0;
}

.rarity {
  margin: 2% 0 0 0;
  font-size: 2em;
  color: #E56635;
  font-weight: 500;
}
}

/* DESKTOP DISPLAY */

@media all and (min-width: 1200px) {
  html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #EFEFEF;
    font-family: 'Libre Franklin', sans-serif;
  }
  
  .wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
      "nav"
      "main";
  }
  
  .nav-bar {
    grid-area: nav;
    background: #053353;
    color: #EFEFEF;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .9em;
  }
  
  .local {
    color: #E07A5F;
  }
  
  .user-drop-down {
    font-size: .65em;
    font-weight: 200;
    text-align: right;
  }
  
  .title {
    font-size: 1.6em;
    text-align: right;
    margin-right: 5%;
    letter-spacing: .1em;
  }
  
  .main {
    grid-area: main;
    height: 100%;
    width: 100%;
  }
  
  .page-heading {
    letter-spacing: .05em;
    margin-left: 3%;
    color: #585959;
  }
  
  .mushroom-cards {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    /* gap: 2%; */
    column-gap: 0;
    padding: 3% 3% 5% 3%;
    /* margin-bottom: 10% */
    height: 100%;
    width: 100%;
  }
  
  .card {
    background: #CFDAE1;
    box-shadow: 0 0 6px 6px #C1C1C1;
    width: 90%;
    height: 100%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%;
    grid-template-areas:
      "image"
      "content";
  }
  
  .card-top {
    grid-area: image;
    position: relative;
  }
  
  .card-body {
    height: 100%;
    width: 100%;
  }
  
  .mushroom-pic {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .found-label {
    background-color: #E56635;
    color: #EFEFEF;
    width: 22%;
    height: 50%; 
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .plus-icon {
    font-size: 4em;
    font-weight: 500;
    color: #EFEFEF;
    position: absolute;
    top: -30%;
    left: 1%;
  }
  
  .found {
    font-size: 1em;
    font-weight: 200;
    margin: 0;
  }
  
  .number-sightings {
    margin: 0;
    font-size: 1em;
  }
  
  .card-body {
    grid-area: content;
    margin-left: 5%;
    color: #585959;
  }
  
  .mushroom-name {
    margin: 5% 0 0 0;
    font-size: 1.6em;
  }
  
  .scientific-name {
    margin: 0 0 0 0;
    font-style: italic;
    font-size: 1.2em;
  }
  
  .chars {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .characteristics {
    background-color: #EFEFEF;
    width: 84%;
    height: 16%; 
    padding: 3%; 
    font-size: 1em;
  }
  
  .season-header {
    margin: 5% 0 0 0;
  }
  
  .seasons {
    margin: 1% 0 0 0;
    font-size: 1.6em;
  }
  
  .rare-header {
    margin: 5% 0 0 0;
  }
  
  .rarity {
    margin: 2% 0 0 0;
    font-size: 2em;
    color: #E56635;
    font-weight: 500;
  }
}


